@import url("./header.css");
@import url("./cartas.css");
@import url("./banner.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primario:#152869;
    
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(143, 120, 89);
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
    color: unset;
}

ul{
    list-style: none;
}

.arrow-top{
    position: fixed;
    right: 50px;
    bottom: 50px;
    background-color: rgba(240, 248, 255, 0.418);
    padding: 10px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}